[submodule "vendor/glslang"]
	path = vendor/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "vendor/userland"]
	path = vendor/userland
	url = https://github.com/raspberrypi/userland
[submodule "vendor/SDL2"]
	path = vendor/SDL2
	url = https://github.com/spurious/SDL-mirror

